@page "/cadastroagente"
@rendermode InteractiveServer

@using Microsoft.EntityFrameworkCore
@using IA.TesteAgente.Data


@inject IDbContextFactory<dbContext> DbFactory

<h3>CadastroAgente</h3>

@code {

}
