@page "/cadastromodelo"
@rendermode InteractiveServer

@using Microsoft.EntityFrameworkCore
@using IA.TesteAgente.Data
@using IA.TesteAgente.Model

@inject IDbContextFactory<dbContext> DbFactory
@inject IServiceProvider _serviceProvider

<h3>Cadastro Modelo</h3>

<div class="row">
    <div class="col-6">



    </div>

    <div class="col-6">



    </div>
</div>

@code {
    [SupplyParameterFromForm]
    public ModeloLLM Modelo { get; set; } = new();
    public List<ModeloLLM> LstModelo { get; set; } = new();

    protected override void OnInitialized()
    {
        BuscaProvedor();
    }

    public void BuscaProvedor()
    {
        using var context = DbFactory.CreateDbContext();
        LstModelo = context.ModeloLLM.ToList();
    }





}
