@page "/"
@rendermode InteractiveServer

@using IA.TesteAgente.Data
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<dbContext> DbFactory

<PageTitle>Home</PageTitle>

<button class="btn btn-primary" @onclick="GeraBanco">Gera Banco</button>

@code {

    private void GeraBanco()
    {
        using var context = DbFactory.CreateDbContext();
        context.Database.EnsureCreated();
    }
}