@page "/"
@rendermode InteractiveServer

@using IA.TesteAgente.Data
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<dbContext> DbFactory

<PageTitle>Home</PageTitle>

<textarea @bind="Texto" rows="15" class="form-control"></textarea>

<button class="btn btn-primary" @onclick="GeraBanco">Gera Banco</button>

@code {
    public string Texto { get; set; } = "";


    private void GeraBanco()
    {
        using var context = DbFactory.CreateDbContext();
        //context.Database.EnsureCreated();

        var script = context.Database.GenerateCreateScript();
        Texto = script;
    }
}