@if (Aguarde)
{
    <div class="modal fade show" id="AguardandoModalSm" tabindex="-1" aria-labelledby="AguardandoModalSmLabel" aria-modal="true" role="dialog" style="padding-right: 17px; display: block;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="top: 64px;">
                <div class="modal-body text-center">
                    <p>Aguarde...</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public bool Aguarde { get; set; }
}